.card {
  width: 18rem;
  background-color: #f0f2f5;
  border: none;
}
.ul {
  background-color: #f0f2f5;
  border: "none";
}
.ul > li {
  background-color: #f0f2f5;
  border: none;
}
.star {
  font-size: 1.2rem;
  color: #969696;
}

/* pseudo-classes */

/* 
.card *:hover {
  background-color: #c5ebaa;
} */

.card:hover,
.card:hover *:not(a) {
  background-color: #d1f0fa;
}
