.mappedCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 2rem;
}
.enterpriseAd {
  padding: 3rem;
  text-align: center;
}
/* sm screen */
@media screen and (max-width: 420px) {
  .mappedCard {
    grid-template-columns: 1fr;
  }
}
/* md screen */
@media screen and (max-width: 541px) {
  .mappedCard {
    display: flex;
    flex-direction: column;
  }
}
/* extras */
@media screen and (max-width: 820px) {
  .mappedCard {
    grid-template-columns: 1fr 1fr;
  }
}
