.footerContent {
  display: flex;
  gap: 2rem;
}

.ul {
  background-color: #222222;
  color: #aaaaaa;
  margin: 0;
  padding: 4rem 4rem;
  list-style: none;
}
.ul section li > * {
  color: #aaaaaa;
  text-decoration: none;
}
.ul section li > *:hover {
  color: #ffffff;
  text-decoration: none;
}
