.icons_section {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 8rem;
}
.icon:first-child {
  color: #4267b2;
}
/* .icon:nth-child(2) {
    
} */
.icon:nth-child(3) {
  color: #0072b1;
}
