.icons_section {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 8rem;
}
.icon:first-child {
  color: #4267b2;
}
/* .icon:nth-child(2) {
    
} */
.icon:nth-child(3) {
  color: #0072b1;
}
.ig {
  /* Instagram-like Linear Gradient */
  background: linear-gradient(to bottom, #8a3ab9, #dd2a7b, #f58529);
  color: #ffffff;
  font-size: 7rem;
  border-radius: 1rem;
}

/* sm screen */
@media screen and (max-width: 420px) {
  .ig {
    height: 4rem;
    width: 7rem;
    border-radius: 0.5rem;
  }
}
