.navbar {
  background-color: #334499;
}

.nav_section_container div:nth-child(2) {
  background-color: red;
  display: flex;
  margin-right: auto;
}

/* sm screen */
@media screen and (max-width: 420px) {
  .nav_section_container {
    background-color: green;
  }
}
