.navbar {
  background-color: #334499;
}
/* TEST!!!! */
.nav_section > * {
  color: #ffffff !important;
}
.nav_section_container {
  width: 100%;
  display: "flex";
  flex-direction: "row";
  align-content: "center";
}
.nav_section {
  width: 50%;
  display: flex;
  align-content: center;
  gap: 2rem;
}
.navbar section:nth-child(2) {
  justify-content: end;
}
/* sm screen */
@media (max-width: 420px) {
  .nav_section {
    display: block;
  }
  .nav_section > * {
    color: #000000 !important;
  }
}
/* md screen */
@media (max-width: 540px) {
  .nav_section {
    display: block;
  }
}
