.layout {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

.layout > nav {
  background-color: #f0f2f5;
  display: grid;
  grid-template-rows: 1fr;
}
.layout > section {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
}

.main {
  width: 70vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* sm screen */
@media screen and (max-width: 420px) {
  .main {
    width: 100vw;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
}
